<launch>
  <!-- Arguments参数 -->
  <!--坐标变换，需要实测 -->
 
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0.0 0 0 0 base_footprint base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.26 0.00 0.228 3.14 0 0  base_footprint laser 100" />

      <!-- turn on base_serial 开启底层单片机的控制节点  -->
  <include file="$(find turn_on_wheeltec_robot)/launch/include/base_serial.launch" />

  <param name = "robot_description" textfile = "$(find wheeltec_robot_urdf)/urdf/wheeltec_robot.urdf"/> 


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- 机器人控制平滑包，该官方包不支持全向机器人 -->
  <include file="$(find turn_on_wheeltec_robot)/launch/include/velocity_smoother.launch" />
</launch>